<div class="container mt-4">
  <h2 class="mb-4">Gestionare Beneficiari</h2>
  <button class="btn btn-primary mt-2" (click)="addForm()">
    {{ !showForm ? "Arata form" : "Ascunde form" }}
  </button>

  <form
    (ngSubmit)="saveBeneficiar()"
    novalidate
    class="needs-validation was-validated hidden"
  >
    <div class="mb-1.5">
      <label for="tip" class="form-label">Tip Beneficiar:</label>
      <select
        [(ngModel)]="newBeneficiar.tip"
        [disabled]="isEditing"
        name="tip"
        required
        class="form-select"
      >
        <option value="" disabled selected>Selectati Tip</option>
        <option *ngFor="let persoana of persoane" value="{{ persoana.value }}">
          {{ persoana.name }}
        </option>
      </select>
    </div>

    <div *ngIf="newBeneficiar.tip === 'persoana_fizica'">
      <div class="mb-1.5">
        <label for="nume" class="form-label">Nume:</label>
        <input
          type="text"
          [(ngModel)]="newBeneficiar.nume"
          name="nume"
          maxlength="100"
          class="form-control"
        />
        <div class="valid-feedback">Arata bine!</div>
        <div class="invalid-feedback">Alege un nume.</div>
      </div>
      <div class="mb-1.5">
        <label for="prenume" class="form-label">Prenume:</label>
        <input
          type="text"
          [(ngModel)]="newBeneficiar.prenume"
          name="prenume"
          maxlength="100"
          class="form-control"
        />
        <div class="valid-feedback">Arata bine!</div>
        <div class="invalid-feedback">Alege un prenume.</div>
      </div>

      <div class="mb-1.5">
        <label for="cnp" class="form-label">CNP*:</label>
        <input
          type="text"
          [(ngModel)]="newBeneficiar.cnp"
          name="cnp"
          maxlength="13"
          class="form-control"
          required
          [ngClass]="{
            'is-invalid':
              !validateCNP(newBeneficiar.cnp) && (isSubmitted || isEditing)
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="!validateCNP(newBeneficiar.cnp) && (isSubmitted || isEditing)"
        >
          CNP invalid. Asigurați-vă că este corect.
        </div>
      </div>
      <div class="mb-1.5">
        <label for="dataNasterii" class="form-label">Data Nașterii*:</label>
        <input
          type="date"
          [(ngModel)]="newBeneficiar.dataNasterii"
          name="dataNasterii"
          class="form-control"
        />
        <div class="valid-feedback">Arata bine!</div>
        <div class="invalid-feedback">Alege data nasterii.</div>
      </div>
    </div>

    <div *ngIf="newBeneficiar.tip === 'persoana_juridica'">
      <div class="mb-1.5">
        <label for="denumire" class="form-label">Denumire:</label>
        <input
          type="text"
          [(ngModel)]="newBeneficiar.denumire"
          name="denumire"
          maxlength="100"
          class="form-control"
        />
        <div class="valid-feedback">Arata bine!</div>
      </div>
      <div class="mb-1.5">
        <label for="cui" class="form-label">CUI*:</label>
        <input
          type="text"
          [(ngModel)]="newBeneficiar.cui"
          name="CUI"
          maxlength="100"
          class="form-control"
          required
          [ngClass]="{
            'is-invalid':
              !validateCUI(newBeneficiar.cui!) && (isSubmitted || isEditing)
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="!validateCUI(newBeneficiar.cui!) && (isSubmitted || isEditing)"
        >
          CUI invalid. Asigurați-vă că este corect.
        </div>
      </div>
      <div class="mb-1.5">
        <label for="dataInfiintarii" class="form-label"
          >Data Înființării:</label
        >
        <input
          type="date"
          [(ngModel)]="newBeneficiar.dataInfiintarii"
          name="dataInfiintarii"
          class="form-control"
        />
      </div>
    </div>

    <div class="mb-1.5">
      <label for="adresa" class="form-label">Adresă:</label>
      <input
        type="text"
        [(ngModel)]="newBeneficiar.adresa"
        name="adresa"
        maxlength="100"
        class="form-control"
      />
    </div>

    <div class="mb-1.5">
      <label for="telefon" class="form-label">Telefon:</label>
      <input
        type="text"
        [(ngModel)]="newBeneficiar.telefon"
        name="telefon"
        maxlength="100"
        class="form-control"
      />
    </div>

    <div class="mb-1.5">
      <label for="conturiIBAN" class="form-label">Conturi IBAN*:</label>
      <input
        type="text"
        [(ngModel)]="newBeneficiar.conturiIBAN"
        name="conturiIBAN"
        maxlength="100"
        class="form-control"
        required
        [ngClass]="{
          'is-invalid':
            !validateIBAN(newBeneficiar.conturiIBAN) &&
            (isSubmitted || isEditing)
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          !validateIBAN(newBeneficiar.conturiIBAN) && (isSubmitted || isEditing)
        "
      >
        IBAN invalid. Asigurați-vă că este corect.
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2">
      {{ isEditing ? "Editeaza Beneficiar" : "Adauga Beneficiar" }}
    </button>
    <button
      *ngIf="isEditing"
      class="btn btn-secondary ml-2 mt-2"
      (click)="resetForm()"
    >
      Cancel Edit
    </button>
  </form>
  <div class="info-msg">*Trebuie completate pentru a trimite form-ul</div>
  @if(filteredBeneficiari.length > 0) {
  <h3 class="mt-4">Beneficiari Salvați</h3>
  <input
    type="text"
    class="form-control input-field-a"
    placeholder="Caută după nume, prenume sau denumire..."
    (keyup)="filterBeneficiari($event)"
  />
  <table class="table table-hover table-bordered mt-3">
    <thead class="table-primary">
      <tr>
        <th (click)="sortTable('tip')">
          Tip
          <div class="d-flex">
            <svg
              [ngClass]="{
                active: sortColumn === 'tip' && sortDirection === 'asc'
              }"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M7 14l5-5 5 5z" />
            </svg>
            <svg
              [ngClass]="{
                active: sortColumn === 'tip' && sortDirection === 'desc'
              }"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M7 10l5 5 5-5z" />
            </svg>
          </div>
        </th>
        <th (click)="sortTable('nume')">
          Prenume
          <div class="d-flex">
            <svg
              [ngClass]="{
                active: sortColumn === 'nume' && sortDirection === 'asc'
              }"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M7 14l5-5 5 5z" />
            </svg>
            <svg
              [ngClass]="{
                active: sortColumn === 'nume' && sortDirection === 'desc'
              }"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M7 10l5 5 5-5z" />
            </svg>
          </div>
        </th>
        <th (click)="sortTable('prenume')">
          Nume
          <div class="d-flex">
            <svg
              [ngClass]="{
                active: sortColumn === 'nume' && sortDirection === 'asc'
              }"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M7 14l5-5 5 5z" />
            </svg>
            <svg
              [ngClass]="{
                active: sortColumn === 'prenume' && sortDirection === 'desc'
              }"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M7 10l5 5 5-5z" />
            </svg>
          </div>
        </th>
        <th (click)="sortTable('denumire')">
          Denumire
          <div class="d-flex">
            <svg
              [ngClass]="{
                active: sortColumn === 'denumire' && sortDirection === 'asc'
              }"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M7 14l5-5 5 5z" />
            </svg>
            <svg
              [ngClass]="{
                active: sortColumn === 'prenume' && sortDirection === 'desc'
              }"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M7 10l5 5 5-5z" />
            </svg>
          </div>
        </th>
        <th>CUI</th>
        <th>Conturi IBAN</th>
        <th>CNP</th>
        <th>Telefon</th>
        <th>Acțiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beneficiar of filteredBeneficiari">
        <td>{{ beneficiar.tip }}</td>
        <td>{{ beneficiar.nume }}</td>
        <td>{{ beneficiar.prenume }}</td>
        <td>{{ beneficiar.denumire }}</td>
        <td>{{ beneficiar.cui }}</td>
        <td>{{ beneficiar.conturiIBAN }}</td>
        <td>{{ beneficiar.cnp }}</td>
        <td>{{ beneficiar.telefon }}</td>
        <td class="d-flex">
          <button
            class="btn btn-warning btn-sm me-2"
            (click)="updateBeneficiar(beneficiar)"
          >
            Update
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="deleteConfirm(beneficiar.id!)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  } @else {
  <div class="alert alert-danger mt-2" role="alert">
    Adauga beneficiar pentru a vedea tabelul cu lista
  </div>
  }
</div>
