<div class="container mt-4">
  <h2 class="mb-4">Gestionare Beneficiari</h2>
  <button class="btn btn-primary mt-2" (click)="addForm()">
    {{ !showForm ? "Creeza form" : "Ascunde form" }}
  </button>

  <app-beneficiar-form
    [showForm]="showForm"
    [beneficiari]="beneficiari"
    [filteredBeneficiari]="filteredBeneficiari"
    [persoane]="persoane"
    [currentBeneficiarId]="currentBeneficiarId"
    [isSubmitted]="isSubmitted"
    [isEditing]="isEditing"
    [newBeneficiar]="newBeneficiar"
    (beneficiarAdded)="loadBeneficiari()"
  ></app-beneficiar-form>
  <div class="info-msg">*Trebuie completate pentru a trimite form-ul</div>
  <h3 class="mt-4">Beneficiari Salvați</h3>
  <input
    type="text"
    class="form-control input-field-a"
    placeholder="Caută după nume, prenume sau denumire..."
    (keyup)="filterBeneficiari($event)"
  />
  <app-beneficiar-table
    [beneficiari]="beneficiari"
    [filteredBeneficiari]="filteredBeneficiari"
    [sortColumn]="sortColumn"
    [sortDirection]="sortDirection"
    [newBeneficiar]="newBeneficiar"
    [initializeNewBeneficiar]="initializeNewBeneficiar"
    [isEditing]="isEditing"
    [currentBeneficiarId]="currentBeneficiarId"
    [showForm]="showForm"
    [isSubmitted]="isSubmitted"
    (showFormChange)="showForm = $event"
    (updateBeneficiarEvent)="updateBeneficiar($event)"
  ></app-beneficiar-table>
</div>
